{% extends 'layouts/base.html' %}

{% block content %}
<h1>Informe de Cuotas Mensuales para el Año {{ year }} - Nro de Socio: {{ socio.nroSocio }} - Nombre: {{ socio.nombre }} {{ socio.apellido }}</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Estado de Pago</th>
        </tr>
    </thead>
    <tbody>
        {% for cuota in cuotas_anuales %}
            <tr>
                <td>{{ cuota.get_mes_display }}</td>
                <td>
                    {% if cuota.monto > 0 %}
                        Pagada
                    {% else %}
                        Impagada
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
