{%extends 'layouts/base.html'%} 
{% load static %}

{% block titulo %}Socios{% endblock titulo %}
{% block content %}



<a href="{% url 'crear_socio' %}" class="btn btn-md btn-success">Crear Socio</a>
<div class="col">
    {% comment %} <a href="{% ulr 'crear_actividad'%}" class="btn btn-success">+Actividad </a> {% endcomment %}
    <div class="table-responsive">
      <table class="table table-striped">
      <thead>
        <tr>
          <td>nroSocio</td>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>acción</th>
          
          
        </tr>
      </thead>
      <tbody>
        {% if socios %}
         {% for socio in socios %} 
       <tr>
        <td>{{socio.nroSocio}} </td>
          <td>{{socio.nombre}}</td>
          <td>{{socio.apellido}}</td>
         
          
          <td>
            {% comment %} <a href="{% url 'detalle_socio' actividad.id %}"class="btn btn-primary">Ver Más</a>
            <a href="{% url 'eliminar_socio' actividad.id %}"class="btn btn-danger">Eliminar</a>
            <a href="{% url 'editar_socio' actividad.id %}"class="btn btn-secondary">editar</a> {% endcomment %}
            {% comment %} <a href="{% url 'eliminar_actividad'actividad.id %}" title="Eliminar" class="btn btn-danger"></a> {% endcomment %}
          </td>
          
        </tr>
       
        {% endfor %}
         {% endif %}
{% endblock content %}