{%extends 'layouts/base.html'%} 
{% load static %}

{% block titulo %}ADMINISTRACION{% endblock titulo %}
{% block content %}



<link rel="stylesheet" href="{% static "css/style.css" %}">

<div class="container">
  <a href="{%url 'crear_socio' %}" class="btn btn-success" >+ Nuevo Socio</a>
  <br>
  <div class="row">
    
    <div class="col">      
      <div class="card m-2">
        <div class="card-body">
          <h3>Buscar Socio</h3>
          <form action="" method='GET'>
            <div class="form-group">
              <input type="text" id="txtNroSocio" name="buscar" class="form-control" placeholder="Nº Socio" value="{{ request.GET.buscar_socio}}">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>
        </div>
      </div>
        </div>


<div class="col">
  <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <td>Nro Socio</td>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>acción</th>
        
      </tr>
    </thead>
    <tbody>
      {% if lista_socios %}
       {% for socio in lista_socios %} 
     <tr>
      <td>{{socio.nroSocio}} </td>
        <td>{{socio.nombre}}</td>
        <td>{{ socio.apellido }} </td>
        
        <td>
          
            <a href="{% url 'detalle_socio' socio.id %}"class="btn btn-primary">Ver Más</a>
            <script type="text/javascript"src="{% static "js/modal.js" %}"></script>
          <button onclick="abrir_modal_eliminar(' {% url 'eliminar_socio' socio.id %}')" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'editar_socio' socio.id %}"class="btn btn-secondary">editar</a>
            {% comment %} <a href="{% url 'eliminar_actividad'actividad.id %}" title="Eliminar" class="btn btn-danger"></a> {% endcomment %}
          
        </td>
        
      </tr>
     
      {% endfor %}
       {% endif %}
    </tbody>
  </table>
  
  </div>

    </div>
  </div>
</div>
<div class="modal fade">


{% endblock content %}
<script type="text/javascript"src="{% static "js/modal.js" %}"></script>
{% block extrajs %}
<scriptc type="text/javascript">
  var $ = jQurty.noConflicy(); 
  function abrir_modal_eliminar(url){
    $('#eliminar').load(url, function(){
$(this).modal('show');
    })
  }
  
</script>
<script type="text/javascript"src="{% static "js/modal.js" %}"></script>

   {% endblock extrajs %}